html{
font-family: 'Amatic SC', cursive;
font-family: 'Koulen', cursive;
font-family: 'Rubik', sans-serif;

cursor:url("img/curseur_curseur.png") 1 1,pointer;
margin:0 !important ;
padding:0!important;
height: 100%;
width: 100% !important;
position: relative;
color:#242424;
}

h1{
    font-family: 'Koulen', cursive;
    font-style: normal;

}

h2,h3,h4,h5,h6{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 600;
}

p{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 300;
}